@import "settings";
@import "foundation/base";
@import "foundation/forms";

.row {
    width: 90%;
}

pre {
    @extend textarea;
    height: 361px;
    overflow: auto;
}

.result {
    @extend label;
}
