@import "settings";
@import "foundation/base";
@import "foundation/forms";

.github-corner a {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 10;
}

.row {
    width: 90%;
}

code {
    @extend textarea;
    height: 361px;
    overflow: auto;
    background: transparent;
    font-weight: normal;
    white-space: pre;
}

.result {
    @extend label;
}
