@charset "UTF-8";
/* Base Type Styles Using Modular Scale ---------------------- */
/* line 3, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

/* line 9, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 17px;
}
/* line 10, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
p.lead {
  font-size: 17.5px;
  line-height: 1.6;
  margin-bottom: 17px;
}
/* line 11, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
p img.left, p img {
  margin: 17px;
  margin-left: 0;
}
/* line 12, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
p img.right {
  margin: 17px;
  margin-right: 0;
}

/* line 14, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
aside p {
  font-size: 13px;
  line-height: 1.35;
  font-style: italic;
}

/* line 16, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  margin-bottom: 14px;
  margin-top: 14px;
}
/* line 21, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #888;
  line-height: 0;
}

/* line 24, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
h1 {
  font-size: 44px;
}

/* line 25, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
h2 {
  font-size: 37px;
}

/* line 26, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
h3 {
  font-size: 27px;
}

/* line 27, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
h4 {
  font-size: 23px;
}

/* line 28, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
h5 {
  font-size: 17px;
}

/* line 29, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
h6 {
  font-size: 14px;
}

/* line 31, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 22px 0 21px;
  height: 0;
}

/* line 33, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
.subheader {
  line-height: 1.3;
  color: #777;
  font-weight: 300;
  margin-bottom: 17px;
}

/* line 35, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
em, i {
  font-style: italic;
  line-height: inherit;
}

/* line 36, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
strong, b {
  font-weight: bold;
  line-height: inherit;
}

/* line 37, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
small {
  font-size: 60%;
  line-height: inherit;
}

/* line 38, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
code {
  font-weight: bold;
  background: #ffff99;
}

/* Lists ---------------------- */
/* line 41, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
ul, ol {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 17px;
  list-style-position: inside;
}

/* line 42, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
ul.square, ul.circle, ul.disc {
  margin-left: 17px;
}

/* line 43, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
ul.square {
  list-style-type: square;
}

/* line 44, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
ul.circle {
  list-style-type: circle;
}

/* line 45, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
ul.disc {
  list-style-type: disc;
}

/* line 46, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
ul.no-bullet {
  list-style: none;
}

/* line 47, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
ul.large li {
  line-height: 21px;
}

/* Blockquotes ---------------------- */
/* line 50, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
blockquote, blockquote p {
  line-height: 1.5;
  color: #777;
}

/* line 51, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
blockquote {
  margin: 0 0 17px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}

/* line 52, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
blockquote cite {
  display: block;
  font-size: 13px;
  color: #555;
}

/* line 53, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
blockquote cite:before {
  content: "\2014 \0020";
}

/* line 54, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
blockquote cite a, blockquote cite a:visited {
  color: #555;
}

/* line 56, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
abbr, acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222;
  border-bottom: 1px solid #ddd;
  cursor: help;
}

/* line 57, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
abbr {
  text-transform: none;
}

/*
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/
/* line 65, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
.print-only {
  display: none !important;
}

@media print {
  /* line 67, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 68, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 69, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 70, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 71, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 72, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 73, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 74, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 75, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 77, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 78, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
  h2, h3 {
    page-break-after: avoid;
  }

  /* line 79, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
  .hide-on-print {
    display: none !important;
  }

  /* line 80, ../../../../../../../../var/lib/gems/1.8/gems/zurb-foundation-3.0.5/stylesheets/foundation/typography.scss */
  .print-only {
    display: block !important;
  }
}
